# .env.example for mycodexvantaos-security-secrets
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_SECURITY_SECRETS_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_SECURITY_SECRETS_LOG_LEVEL=info
