# .env.example for mycodexvantaos-governance-policy
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_GOVERNANCE_POLICY_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_GOVERNANCE_POLICY_LOG_LEVEL=info
