# .env.example for mycodexvantaos-docs-search
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_DOCS_SEARCH_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_DOCS_SEARCH_LOG_LEVEL=info
