# .env.example for mycodexvantaos-data-pipeline
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_DATA_PIPELINE_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_DATA_PIPELINE_LOG_LEVEL=info
