# .env.example for mycodexvantaos-core-gateway
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_CORE_GATEWAY_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_CORE_GATEWAY_LOG_LEVEL=info
