# .env.example for mycodexvantaos-core-config
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_CORE_CONFIG_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_CORE_CONFIG_LOG_LEVEL=info
