# .env.example for mycodexvantaos-core-kernel
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_CORE_KERNEL_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_CORE_KERNEL_LOG_LEVEL=info
