# .env.example for mycodexvantaos-platform-scheduler
# All vars MUST use MYCODEXVANTAOS_ prefix (Sec.7.2)
MYCODEXVANTAOS_MYCODEXVANTAOS_PLATFORM_SCHEDULER_PORT=3000
MYCODEXVANTAOS_MYCODEXVANTAOS_PLATFORM_SCHEDULER_LOG_LEVEL=info
